@import "tailwindcss";
@import "@nuxt/ui";
@import "@soubiran/ui";

@import 'markdown-it-github-alerts/styles/github-colors-light.css';
@import 'markdown-it-github-alerts/styles/github-colors-dark-class.css';
@import 'markdown-it-github-alerts/styles/github-base.css';

@source "../node_modules/@soubiran/ui/dist/index.js";
@source "../node_modules/@soubiran/vite/dist/vite.config.mjs";

@plugin "@tailwindcss/typography";

@theme {
  --color-cloudflare: #F63;
  --color-github: #5FED83;
  --color-authentik: #FD4B2D;
  --color-forge: #18B79B;
  --color-hetzner: #D50E2F;
  --color-partykit: #FF1010;

  --color-vite: #bcc0ff;
  --color-vue: #42d292;
  --color-nuxt: #00DC82;
  --color-vitepress: #a8b1ff;
  --color-slidev: #6fcce1;
  --color-pinia-colada: #fad541;
  --color-inertiajs: #B794F4;
  --color-laravel: #F53102;
  --color-sqlite: #3C9EDB;
  --color-litestream: #0053FA;
}
