@import "tailwindcss";
@import "@nuxt/ui";
@import "@soubiran/ui";

@import 'markdown-it-github-alerts/styles/github-colors-light.css';
@import 'markdown-it-github-alerts/styles/github-colors-dark-class.css';
@import 'markdown-it-github-alerts/styles/github-base.css';

@source "../node_modules/@soubiran/ui/dist/index.js";
@source "../node_modules/@soubiran/vite/dist/vite.config.mjs";

@plugin "@tailwindcss/typography";
