@import "tailwindcss";
@import "@nuxt/ui";

@plugin "@tailwindcss/typography";

@source "../node_modules/@soubiran/ui/dist/index.js";
@source "../../../packages/vite/vite.config.ts";

@theme {
  --font-sans: 'DM Sans', sans-serif;
  --font-sofia: 'Sofia sans', sans-serif;
  --font-mono: 'DM Mono', monospace;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

:root {
  --ui-primary: black;
  --ui-text-highlighted: var(--ui-color-neutral-950);
}

.dark {
  --ui-primary: white;
  --ui-text-highlighted: var(--ui-color-neutral-200);
}
